:root {
  --body-background-color: #222628;
  --body-text-color: #FFFFFF;
  --card-background-color: #404040;
  --nav-background-color: #8C2531;
  --nav-border-bottom-color: #ADA28C;
  --nav-current-border-bottom-color: #8C2531;
  --card-border-color: #ADA28C;
  --down-border-left-color: #8C2531;
  --down-background-color: #8C2531;
  --degraded-border-left-color: #f7b731;
  --up-border-left-color: #ADA28C;
  --tag-color: #8C2531;
  --tag-up-background-color: #FFFFFF;
  --tag-down-background-color: #FFFFFF;
  --tag-degraded-background-color: #f7b731;
  --change-background-color: #f7b731;
  --error-button-border-color: #1a46ad;
  --error-button-background-color: #3867d6;
  --error-button-color: #ffffff;
  --submit-button-border-color: #1a46ad;
  --submit-button-background-color: #3867d6;
  --submit-button-color: #ffffff;
  --graph-opacity: 100;
  --graph-filter: hue-rotate(34deg) saturate(164%) brightness(89%);
}

